.main-container {
  background-color: #ffffff;
  height: 495px;
  width: 320px;
  border-radius: 14px;
}
.qr-container img {
  margin: 16px;
  border-radius: 14px;
}

.main-container h2 {
  font-weight: 700;
  color: #1f3251;
  text-align: center;
  margin: 0px 24px 16px 24px;
}

.main-container h4 {
  color: #7b879d;
  font-weight: 400;
  text-align: center;
  margin: 0px 21px 16px 21px;
}
